<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/css/index.css">

<div class="container">
  <img class="pokemon-welcome-image" src="/images/pokeRev-removebg-preview.png" alt="">
  <div class="row">
    <div class="col-md-4">
      <div class="pokemon-card">
        <img src="/images/Pekachu (3).png" alt="Pokémon 1" class="pokemon-image">
        <h2 class="pokemon-name">Pokémon</h2>
        <hr>
        <p class="pokemon-type"> <a href="/pokemon/gallery"> Explore Pokémon </a> </p>
        <p class="pokemon-description">Explore the captivating world of Pokémon and discover a vast array of
          fascinating creatures with unique abilities and characteristics.</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="pokemon-card">
        <img id="charizard" src="/images/Char.png" alt="Pokémon 2" class="pokemon-image">
        <h2 class="pokemon-name">Duo Battle</h2>
        <hr>
        <p class="pokemon-type"> <a href="/pokemon/battle"> Engage Card Duels </a> </p>
        <p class="pokemon-description">Explore the captivating world of Pokémon and discover a vast array of
          fascinating creatures with unique abilities and characteristics.</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="pokemon-card">
        <img id="bulbasaur" src="/images/Bab.png" alt="Pokémon 3" class="pokemon-image">
        <h2 class="pokemon-name">Arena Battle</h2>
        <hr>
        <p class="pokemon-type"> <a href="/pokemon/battle">Epic Arena Fights </a> </p>
        <p class="pokemon-description"> an experience that will leave you craving for more as you strive to become a
          true Pokémon champion in the esteemed arenas!</p>
      </div>
    </div>
  </div>
</div>
