body {
    background-color: hsl(219, 49%, 14%);
    color: white;
    margin: 0;
    font-family: rubik;
}

.uncle-img {
    max-width: 40%;
    height: auto;
    margin-bottom: 3rem;
}

.container-1 {
    max-width: 2000px;
    min-width: 100%;
    padding: 40px;
    margin: 0 auto;
    text-align: center;
}
 

* {
    font-family: 'Rubik', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 2rem;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-image {
    width: 100%;
    max-width: 130px; 
    border-radius: 4vmax;
    background-color: white;
    border: 3px solid rgb(112, 107, 107);
}

.card-title {
    font-size: 1.4rem;
    font-family: 'Rubik', sans-serif;
    margin-top: 10px;
    font-weight: 500;

}

@media (max-width: 875px) {
    .card-title {
        font-size: 1.2rem;
    }
    .uncle-img {
        max-width: 50vh; 
        height: auto;
        margin-bottom: 3rem;
    }
    .card-image {
        max-width: 80px; 
    }
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        }
}
@media (max-width: 400px) {
    .uncle-img{
        max-width: 33vh;
    }
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(65px, 1fr));
        }
    .card-title{
        font-size: 0.9rem;
        font-weight: 600;
    }
}